img{
    width:150px ;
    height: auto;
    background: rgb(165, 175, 179) ;
    background: radial-gradient(white 30%,rgb(100, 124, 131) 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.3rem 0.1rem 0.9rem;
    border-radius: 3rem;
}
.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding : 2% 0%;
}
.price-details h6{
    padding: 3% 2%;
}

